<Dpctype html>
    <head>
        <title> VUE.JS PET DEPOT </title>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.1/css/all.min.css">
    </head>
    <body> 
        <div id="app">
            <main>
                <button v-on:click='showCheckout'>
                    {{cartItemCount}}
                    <span class='fas fa-shopping-cart'></span>
                    Check Out
                </button>
                <br>
                <br>
                <div v-if='showProduct'>
                <h1 v-text="sitename"></h1>
                <img v-bind:src="product.image"
                v-bind:width= 'product.imageWidth'>
                <h2>{{product.title}} </h2>
                <p>Location: {{product.location}}</p>
                <p>Number of Spaces: {{product.NoOfSpaces}}</p>
                <p>price: {{product.price}} </p>
                <button v-on:click="addToCart" v-bind:disabled='!canAddToCart'>Add to cart</button>
            </main>
        </div>
        </div>
        <div v-else>

        </div>
        <script type="text/javascript"> 
        var webstore = new Vue(
            {
                el: '#app',
                data: {
                    sitename: "After School Club",
                    showProduct: true,
                    product:{
                        id: 1001,
                        title: "Math" ,
                        location: "London" ,
                        price: 100,
                        NoOfSpaces: 5,
                        image: "image/mathlogo.png",
                        imageWidth: 200, //making the image expand
                        availableInventory: 5
                      },
                      
                      cart: [],
                    },
                    methods: {
                        addToCart: function () {
                            this.cart.push(this.product.id);

                           // this.cart.push(this.product1.id);

                        },
                        showCheckout() {
                            this.showProduct = this.showProduct ? 
                            false : true

                            // if(this.showProduct) {
                            //     this.showProduct = false
                            // }
                            // else {
                            //     this.showProduct = true
                            // }
                        }
                    },
                    computed: {
                        cartItemCount: function() {
                            return this.cart.length || "";
                        },

                        canAddToCart: function() {
                            return this.product.availableInventory > this.cartItemCount;
                        },
        
                        itemReduction: function(){
                            if(this.product.availableInventory> this.cartItemCount){
                                return this.product.NoOfSpaces - 1
                            }  
                        }
                    }

                    

            }
    );
        </script>
        </body>
        </html>